<footer class="bt bw1 b--light-gray mt5 pa3 tc">
	<div class="dib pv2">
		<a class="ttu link gray hover-dark-gray ph3" href="/impressum">Impressum</a>
	</div>
	
	<a href="https://www.ip.rwth-aachen.de">
		<img src="/img/placeholder_logo_2.png" alt="">
	</a>
			
	<div class="pa2 dark-gray">
		<span>Copyright &copy; {{ now.Format "2006"}} | IP RWTH AACHEN</span>
	</div>
</footer>

</body>
</html>
