<html lang="en">
<head>
	<title>Construction Robotics M.Sc.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="You should add a description of the Master in Construction Robotics here">
	<meta name="keywords" content="rwth,university,master,education,bachelor,automated construction,machinery,robotics,construction robotics,robotics study,robotics master,robotik,studieren,architecture robotics,engineering,architecture,informatik,informatics,computer science,mechanical engineering,civil engineering,robotic,architektur">
	<meta name="author" content="Individualized Production in Architecture">
	<meta property="og:title" content="Construction Robotics M.Sc.">
	<meta property="og:description" content="{{ .Title }}" />
	{{ if .Params.image }}
	{{ with .Params.image }}
	<meta property="og:image" content="{{ . }}" />
	{{ end }}
	{{ else }}
	<meta property="og:image" content="/img/placeholder_logo.png" />
	{{ end }}
	<link rel="stylesheet" href="/ip-website.min.css"/>
	<base href="{{ .Site.BaseURL }}">
</head>

	<body class="helvetica mw7 center pa3-ns pa1">

		<div class="pa4-m pa3-ns pa2">
			<a href="{{ .Site.BaseURL }}">
				<img src="/img/Logo_CR_End.png" alt="">
			</a>
		</div>

		<nav class="bb bw1 pa2 b--light-gray tc center">
		    {{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<a class='fw600 f4-ns f5 link hover-dark-gray ttu ph1-ns ph2
				{{ if $currentPage.IsMenuCurrent "main" . }}near-black{{else}}gray{{end}}
					' href="{{ .URL }}">{{ .Name }}</a>
				</div>
				{{ end }}
		</nav>
