<figure class="center mw8">
  <img class="db center w-100 v-bottom" src="{{ .Params.image }}">
  <figcaption class=" ph2 pv-8 f6 bg-gray db fr relative right-0
  top--1 dim o-20" style="">{{.Params.image_copyright}}</figcaption>
</figure>
