<nav class="nav">
  <ul class="nav-links">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li><a id="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
