{{ partial "header.html" . }}
	{{ range where .Data.Pages "Type" "admission" }}
	<div class="pv2">
		<main>
			<div class="f5 lh-copy center w-100">
				{{ .Content }}
			</div>
		</main>
	</div>
	{{ end }}
{{ partial "footer.html" . }}
