{{ partial "header.html" . }}
<div class="pa5">
  <div class="center tc b f-6">
    404
  </div>
  <div class="center tc f-4">
  Sorry, that page doesn't exist.
  </div>
</div>
{{ partial "footer.html" . }}
