  {{ partial "header.html" . }}
  
  <style>
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Te popup image overlay */
.popup .popupimage {
  position: relative;
  z-index: 1;
}

.popup .popupimage .popupimage_caption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 17px;
  width: auto;
}

/* The actual popup block */
.popup .popuptext {
  visibility: hidden;
  width: 560px;
  background-color: white;
  text-align: left;
  position: absolute;
  z-index: 10;
  top: 0%;
  min-height: 185px
}

/* two mirrored layouts depending on order */
.popup:nth-child(4n+1) .popuptext,
.popup:nth-child(4n+2) .popuptext {
  left: 0%;
  padding-left: 100%;
  padding-right: 14px;
}

.popup:nth-child(4n+3) .popuptext,
.popup:nth-child(4n+4) .popuptext {
  right: 0%;
  padding-right: 100%;
  padding-left: 14px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
  </style>
  
  <script lang="text/javascript">
  function toggle_me(this_popup) {
    var popup_containers = document.querySelectorAll("div.popup");
	for (let popup of popup_containers) {
	  
	  popup_text = popup.querySelector('div.popuptext');
	  popup_image = popup.querySelector('div.popupimage');
	  
	  if (!(this_popup.isSameNode(popup))) {
		if (popup_text)
			popup_text.classList.remove('show');
		if (popup_image)
			popup_image.style.zIndex = "1"
	  }
	  else {
		if (popup_text)
			popup_text.classList.toggle('show');
	    if (popup_image)
			popup_image.style.zIndex = "15"
	  }
	}
  }
  </script>
  
  <h3 align="center" style="text-transform:uppercase">RWTH Aachen University</h3>
  
  <div class="flex flex-wrap">
    {{ range (where .Data.Pages "Type" "rwth_person") .ByWeight}}
      <div class="fl w-100 w-25-ns pa1 popup" {{ if len .Content }}style="cursor: pointer" onclick="toggle_me(this)"{{end}}>
	  <div class="w-100 popupimage">
		{{ if .Params.image }}
        {{ with .Params.image }}
        <img class="w-100" src="{{ . }}" alt="">
        {{ end }}
        {{ end }}
		{{ if .Params.image_caption }}
        {{ with .Params.image_caption }}
        <img class="popupimage_caption" src="{{ . }}" alt="">
		{{ end }}
        {{ end }}
	  </div>
        <h5 align="center" class="lh-title">{{ .Title | safeHTML }}</h5>
		{{ if len .Content }}
		<div class="popuptext b--all b--solid b--black">
          {{ .Content }}
        </div>
		{{ end }}
      </div>
    {{ end }}
    </div>
  </div>
  
  <h3 align="center" style="text-transform:uppercase">International Partners</h3>
  
  <div class="cf pa3-ns pa2 mb3">
    {{ range (where .Data.Pages "Type" "other_person") .ByWeight}}
      <div class="fl w-100 w-25-ns pa1 popup" {{ if len .Content }}style="cursor: pointer" onclick="toggle_me(this)"{{end}}>
	  <div class="w-100 popupimage">
		{{ if .Params.image }}
        {{ with .Params.image }}
        <img class="w-100" src="{{ . }}" alt="">
        {{ end }}
        {{ end }}
		{{ if .Params.image_caption }}
        {{ with .Params.image_caption }}
        <img class="popupimage_caption" src="{{ . }}" alt="">
		{{ end }}
        {{ end }}
	  </div>
        <h5 align="center" class="lh-title">{{ .Title | safeHTML }}</h5>
		{{ if len .Content }}
		<div class="popuptext b--all b--solid b--black">
          {{ .Content }}
        </div>
		{{ end }}
      </div>
        {{ end }}
    </div>
  </div>
  
  <div class="w-100 pv4">
  <span class="fl w-25" style="text-align: center"><img style="height:64px" src="/img/people/liebherr.png" /></span>
  <span class="fl w-25" style="text-align: center"><img style="height:64px" src="/img/people/porr.png" /></span>
  <span class="fl w-25" style="text-align: center"><img style="height:64px" src="/img/people/eiffage.png" /></span>
  <span class="fl w-25" style="text-align: center"><img style="height:64px" src="/img/people/hilti.png" /></span>
  </div>
  
  {{ partial "footer.html" . }}
