{{ partial "header.html" . }}

<div class="pv2">
	{{ range .Data.Pages }}
	<div class="mb3">
    <div class="flex items-center">
  		<div class="w-30 pa3">
  			{{ if .Params.image }}
  				{{ with .Params.image }}
  				<div class="">
  					<img src="{{ . }}">
  				</div>
  				{{ end }}
  			{{ end }}

  			{{ if .Params.vimeo}}
  			{{ with .Params.vimeo}}
  				<div class="aspect-ratio aspect-ratio--16x9">
  					<iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/{{ . }}" frameborder="0" allowfullscreen></iframe>
  				</div>
  			{{ end }}
  			{{ end }}

  			{{ if .Params.youtube}}
  			{{ with .Params.youtube}}
  				<div class="aspect-ratio aspect-ratio--16x9">
  					<iframe class="aspect-ratio--object" src="http://www.youtube-nocookie.com/embed/{{ . }}" frameborder="0" allowfullscreen></iframe>
  				</div>
  			{{ end }}
  			{{ end }}
  		</div>
      <div class="flex-auto">
    		<h1 class="f4">
    			<a href="{{ .Permalink }}">{{ .Title }}</a>
    		</h1>
    		<div class="f5 b gray">
    			{{ .Date.Format "Jan 2, 2006" }}
    		</div>
      </div>
    </div>
	</div>
	{{ end }}
</div>


{{ partial "footer.html" . }}
