{{ partial "header.html" . }}

<div class="pv2">
	<main>
		<h1 class="lh-title tc">
			{{ .Title }}
		</h1>
		<div class="w-100">
			{{ if .Params.image }}
				{{ with .Params.image }}
				<div align="center" class="">
					<img src="{{ . }}">
				</div>
				{{ end }}
			{{ end }}

			{{ if .Params.vimeo}}
			{{ with .Params.vimeo}}
				<div class="aspect-ratio aspect-ratio--16x9">
					<iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/{{ . }}" frameborder="0" allowfullscreen></iframe>
				</div>
			{{ end }}
			{{ end }}

			{{ if .Params.youtube}}
			{{ with .Params.youtube}}
			<div class="bg-silver" style="position:relative;padding-top:56.25%;">
				<iframe src="https://www.youtube-nocookie.com/embed/{{ . }}" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
			</div>
			{{ end }}
			{{ end }}
		</div>
		<div class="f5 lh-copy center w-100">
			{{ .Content }}
		</div>
		<div class="pt3 tc f6 b gray">
			{{ .Date.Format "Jan 2, 2006" }}
		</div>
	</main>
</div>

{{ partial "footer.html" . }}
