<figure class="center mw8 pb2">
  <img class="db center w-100 v-bottom" src="{{ .Get "image" }}">
  {{if .Get "copyright"}}
  <figcaption class="white ph2 pv1 f7 bg-dark-gray db fr relative
  dim lh-copy" style="bottom: 1.6rem">{{ .Get "copyright" }}</figcaption>
  {{end}}
</figure>
