<div class="pb2">
  {{ if $.Get 1 }}
  <div class="bg-gray white pv1 ph2 b">
    {{ $.Get 1 }}
  </div>
  {{ end }}

  <div class="bg-silver" style="position:relative;padding-top:56.25%;">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ $.Get 0 }}" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
  </div>
</div>
