{{ partial "header.html" . }}

<div class="pv2">
	{{ $pag := .Paginate (where .Data.Pages "Type" "news") 5 }}
	{{ range $pag.Pages }}
	<div class="mb5">
		<h1 class="lh-title tc">
			<a class="no-underline" href="{{ .Permalink }}">
				{{ .Title }}
			</a>
		</h1>
		<div class="w-100">
			{{ if .Params.image }}
				<div class="">
					{{ if .Params.affiliatelink }}
					<a href="{{ .Params.affiliatelink }}">
					{{ end }}
					<img style=" margin: auto; display: #block"  src="{{ .Params.image }}">
					{{ if .Params.affiliatelink }}
					</a>
					{{ end }}
					
				</div>
			{{ end }}

			{{ if .Params.vimeo}}
			{{ with .Params.vimeo}}
				<div class="aspect-ratio aspect-ratio--16x9">
					<iframe class="aspect-ratio--object" src="https://player.vimeo.com/video/{{ . }}" frameborder="0" allowfullscreen></iframe>
				</div>
			{{ end }}
			{{ end }}

			{{ if .Params.youtube}}
			{{ with .Params.youtube}}
			<div class="bg-silver" style="position:relative;padding-top:56.25%;">
				<iframe src="https://www.youtube-nocookie.com/embed/{{ . }}" allowfullscreen frameborder="0" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
			</div>
			{{ end }}
			{{ end }}
		</div>
		<div class="f5 lh-copy center">
			{{ .Content }}
		</div>
		<div class="tc f6 b gray">
			{{ .Date.Format "Jan 2, 2006" }}
		</div>
	</div>
	{{ end }}
</div>

<div class="tc center">
	<div class="dib bt bb bw1 b--light-gray pv2">
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
		{{ if .Paginator.HasPrev }}
			<a class="fw600 f4-ns f5 link gray hover-dark-gray ph3-ns ph2" href="{{ .URL }}page/{{ .Paginator.First.PageNumber }}">FIRST</a>
			<a class="fw600 f4-ns f5 link gray hover-dark-gray ph3-ns ph2" href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">PREV</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a class="fw600 f4-ns f5 link gray hover-dark-gray ph3-ns ph2" href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">NEXT</a>
			<a class="fw600 f4-ns f5 link gray hover-dark-gray ph3-ns ph2" href="{{ .URL }}page/{{ .Paginator.Last.PageNumber }}">LAST</a>
		{{ end }}
	{{ end }}
	</div>
</div>

{{ partial "footer.html" . }}
